<!DOCTYPE html>
<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126695757-2"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <title>Claquete Business</title>
  <%= favicon_link_tag 'claquete_logo.jpg' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'blog_posts/blog_index', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'blog_post', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'blog_posts/form', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'blog_posts/show', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'greetings/index', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag    'main_form', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126695757-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-126695757-2');
  </script>
</head>

<body>
  <%= render partial: "blog_posts/shared/nav" %>
  <%= yield %>
</body>

<footer>
  <p>® CLAQUETE BUSINESS 2018 | Todos os direitos reservados</p>
</footer>

</html>
